body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

:root {
  --primary: #1aac83;
  --primarydark: #10684f;
  --error: #e7195a;
}

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap'); */

/* layout */
/* :root {
  --primary: #1aac83;
  --primarydark: #10684f;
  --error: #e7195a;
}

header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
} */

/* homepage */
.home {
display: flex;
justify-content: center;
margin: 70px;
}
.reserver {
margin: 100px;
}
  .searchbox{
    display: flex;
    align-items: center;
  }
  
  .searchbtn {
    display: flex;
    align-items: center;
    border-radius: 0 10px 10px 0;
  }
  .reservations {
    display: flex; 
  }
.reservation-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px 10px;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.reservation-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
  color: var(--primary);
}
.reservation-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.reservation-details span {
  position: absolute;
  top: 5px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.reservationsUser {
  display: flex; 
  justify-content: center;
  flex-direction: column;
}

.createss {
  display: flex;
  justify-content: center;
 align-items: center; 
  background: #fff;
  border-radius: 4px;
  margin: 50px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  gap: 40px;
}



.col2 {
  margin-top:-65px;
}
.col3 {
  margin-top:-120px;
}
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
select {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background: var(--primarydark); ;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

.edit {
margin: 0 50px;
}


.modalBackground {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 50px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modalContainer{
  width: 30%;
  margin: 50px auto;
  border-radius: 12px;
  background-color: white;
  padding: 50px 0;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.40);
}
.create {
  padding: 0 70px;
}

.titleCloseBtn{
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}

.titleCloseBtn button{
  background-color: transparent;
  border:none;
  font-size: 20px;
  cursor: pointer;
}
.titleCloseBtn button:hover{
color: #e7195a;


}

.searchId {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;

}
.showDetailBtn {
 height: 40px; 
 margin-bottom: 10px;
}
.sample {
  display: flex;
}