body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

:root {
  --primary: #1aac83;
  --primarydark: #10684f;
  --error: #e7195a;
}

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap'); */

/* layout */
/* :root {
  --primary: #1aac83;
  --primarydark: #10684f;
  --error: #e7195a;
}

header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
} */

/* homepage */
.home {
display: flex;
justify-content: center;
margin: 70px;
}
.reserver {
margin: 100px;
}
.reserve {
  display: flex;
  justify-content: center;
  }
  .searchbox{
    display: flex;
    align-items: center;
  }
  
  .searchbtn {
    display: flex;
    align-items: center;
    border-radius: 0 10px 10px 0;
  }
.reservation-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.reservation-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
  color: var(--primary);
}
.reservation-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.reservation-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}


/* .create {
  display: flex;
  justify-content: center;
 align-items: center; 
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  width: 20em;
} */

.create {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.col2 {
  margin-top:-65px;
}
.col3 {
  margin-top:-170px;
}
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
select {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background: var(--primarydark); ;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}